<div id="bantuan">
        <span style="float:right;"><i class="fa fa-question-circle"></i> Bantuan</span>
</div>
<header>
  
    <div class="" style="max-width: 58em;margin:0 auto;">
        <nav>
            <a routerLink="/" class="logo"><img src="assets/logoGramedia/logo-gramedia.png" alt=""></a>
            <a href="javascript:void(0)">
                <div class="dropbtn">
                    Kategori<i class="fa fa-angle-down"></i>
                    <div class="dropdown-content">
                            <ul>
                                <li>Komik</li>
                                <li>Novel</li>
                                <li>Majalah</li>
                            </ul>
                        </div>
                </div>
               
            </a>

            <div>
                <label>
                    <div class="searchBar">
                        <input type="text" formControlName="searchBar" placeholder="Cari Produk, Judul Buku, Penulis">
                        <img class="searchIcon" src="assets/searchIcon/search.png" alt="">
                    </div>
                </label>
            </div>
           
            <a class="navbarIcon"><img src="assets/userIcon/user.png" alt=""> <span class="badge"><span>3</span></span></a>
            <a class="navbarIcon"><img src="assets/notificationIcon/notification.png" alt=""> <span class="badge"><span>1</span></span></a>
            <a class="navbarIcon"><img src="assets/cartIcon/cart.png" alt=""> <span class="badge"><span>8</span></span></a>
        
        </nav>
    </div>
</header>